<!--The content below is only a placeholder and can be replaced.-->
<div class='wrapper'>
  <h1>Dojo Weather!</h1>
  <div class='locations'>
      <a href='#' [routerLink]="['/sanjose']">San Jose</a>
      <a href='#' [routerLink]="['/seattle']">Seattle</a>
      <a href='#' [routerLink]="['/burbank']">Burbank</a>
      <a href='#' [routerLink]="['/dallas']">Dallas</a>
      <a href='#' [routerLink]="['/chicago']">Chicago</a>
  </div>
  <!-- <app-san-jose></app-san-jose> -->
  <router-outlet></router-outlet>
</div>